---
layout: default
---
<script type="text/javascript">var submitted=false;</script>

<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload="if(submitted)
{window.location='http://www.citystripa.co.nz/contact?thank-you';}"></iframe>

<div class="row">

  <div class="span12 page-title-container">
  <img src="/img/wood_images/headers.jpg" style="height: 220px" />
    <div class="inner-page-title fixed" >
      <h2>Contact Us</h2>
      <p>Please contact us with any queries or requests.</p>
    </div>
  </div>
</div>
<div>
  <br>
  <div class="row">
    <div class="span9">
      <form action=
       "https://docs.google.com/forms/d/1I-ptdRJFjcg4PyIYm-c7gYtXcNnHK8k3ydpGdVMqMc8/formResponse"
       method="post" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;" name="ss-form"  role="form" class="form-horizontal">

       <h4>Submit a Query</h4>
       <div class="control-group">
       <label class="control-label">Name: </label>
        <div class="controls">
        <input id="entry_75223477" type="text" name="entry.75223477" value="" class="input-xlarge span6" placeholder="Your name">
        </div>
      </div>

             <div class="control-group">
       <label class="control-label">Phone or Email: </label>
        <div class="controls">
        <input type="text" name="entry.828992331" value="" id="entry_828992331" class="input-xlarge span6" placeholder="Your Phone or Email" >
        </div>
      </div>

           <div class="control-group">
       <label class="control-label">Address: </label>
        <div class="controls">
        <input type="text" name="entry.618586327" value=""id="entry_618586327" class="input-xlarge span6" placeholder="Your Address">
        </div>
      </div>

           <div class="control-group">
       <label class="control-label">Additional Info: </label>
        <div class="controls">
        <textarea name="entry.256107421" rows="8" cols="0" id="entry_256107421" class="input-xlarge span6" placeholder="Any Additional Info"></textarea>
        </div>
      </div>

      <input type="hidden" name="draftResponse" value="[] "> 
      <input type="hidden"
      name="pageHistory" value="0"> 
     <input type="hidden" name="fbzx" value="-1796824485386718179">
      <div align="center">
      <input type="submit" class="btn btn-primary" name="submit" value="Submit Query" id="ss-submit">
      </div>

      </form>

</div>


</div>