---
layout: default
---

<div class="row">
  <div class="span12 page-title-container">
    <img src="/img/portfolio-header.jpg"/>
    <div class="inner-page-title fixed">
      <h2>Contact Us</h2>
      <p>Please contact us with any queries or requests.</p>
    </div>
  </div>
</div>
<div>
  <br>
  <div class="row">
    <div class="span9">
      <form action=
       "https://docs.google.com/a/ladybugclean.co.nz/forms/d/1-S4OqxIm6RyZ6DWBUUFFIfNFN0W8Xz68zb9RHg0y9s4/formResponse"
       method="post" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;" name="ss-form"  role="form" class="form-horizontal">

       <h4>Submit a Query</h4>
       <div class="control-group">
       <label class="control-label">Name: </label>
        <div class="controls">
        <input id="entry_906005434" type="text" name="entry.906005434" value="" class="input-xlarge span6" placeholder="Your name">
        </div>
      </div>

             <div class="control-group">
       <label class="control-label">Phone or Email: </label>
        <div class="controls">
        <input type="text" name="entry.118586404" value="" id="entry_118586404" class="input-xlarge span6" placeholder="Your Phone or Email" >
        </div>
      </div>

           <div class="control-group">
       <label class="control-label">Address: </label>
        <div class="controls">
        <input type="text" name="entry.2083270787" value=""id="entry_2083270787" class="input-xlarge span6" placeholder="Your Address">
        </div>
      </div>

           <div class="control-group">
       <label class="control-label">Additional Info: </label>
        <div class="controls">
        <textarea name="entry.61273661" rows="8" cols="0" id="entry_61273661" class="input-xlarge span6" placeholder="Any Additional Info"></textarea>
        </div>
      </div>

      <input type="hidden" name="draftResponse" value="[] "> 
      <input type="hidden"
      name="pageHistory" value="0"> 
      <input type="hidden" name="fbzx" value=
      "-2924623899921827652">
      <div align="center">
      <input type="submit" class="btn btn-primary" name="submit" value="Submit Query" id="ss-submit">
      </div>

      </form>

</div>


</div>