---
layout: default
title: City Strippers
---

<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"> -->
<div class="row">
  <div class="span12 page-title-container">
  <img src="/img/portfolio-header.jpg"/>
    <div class="inner-page-title fixed">
      <h2>Our Work</h2>
      <p>The below images are some examples of our work and the outcomes we can provide.</p>
    </div>
  </div>
</div>
<br>    
<div class="row">
  <div class="span3">
    <img src="/images/16.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/2.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/3.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/4.png" alt="..." class="thumbnail">
  </div>
</div>

<div class="row">
  <div class="span3">
    <img src="/images/5.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/6.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/7.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/8.png" alt="..." class="thumbnail">
  </div>
</div>

<div class="row">
  <div class="span3">
    <img src="/images/9.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/10.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/11.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/12.png" alt="..." class="thumbnail">
  </div>
</div>

<div class="row">
  <div class="span3">
    <img src="/images/13.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/14.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/15.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/1.png" alt="..." class="thumbnail">
  </div>
</div>

<div class="row">
  <div class="span3">
    <img src="/images/17.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/18.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/19.png" alt="..." class="thumbnail">
  </div>
  <div class="span3">
    <img src="/images/20.png" alt="..." class="thumbnail">
  </div>
</div>