---
layout: default
title: City Strippers
---


  <div class="row">

    <div class="span12" style="height:380px">


      <div id="myCarousel" class="carousel slide" >
        <div class="carousel-inner">
          <div class="item active">
            <img alt="" src="img/1.jpg" />
            <div class="carousel-caption">
              <h4>Welcome to our world of Dip Stripping/Chemical Stripping. </h4>
              <p>This stripping process is a very cost effective way to remove the paint etc and expose the expensive native timbers underneath. </p>
              </div>

            </div>
            <div class="item">
              <img alt="" src="img/2.jpg" />
              <div class="carousel-caption">
              <h4>Welcome to our world of Dip Stripping/Chemical Stripping. </h4>
              <p>This stripping process is a very cost effective way to remove the paint etc and expose the expensive native timbers underneath. </p>
                </div>
              </div>

              <div class="item">
                <img alt="" src="img/3.jpg" />
                <div class="carousel-caption">
              <h4>Welcome to our world of Dip Stripping/Chemical Stripping. </h4>
              <p>This stripping process is a very cost effective way to remove the paint etc and expose the expensive native timbers underneath. </p>
                  </div>
                </div>
              </div>

              <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
            <hr/>
          </div>
        </div>


        <div class="row">
          <div class="span6">
            <h3>What We Do</h3>
            <p>
              Welcome to our world of Dip Stripping/Chemical Stripping. 
            </p>
            <p>
              We have been working in this field since 1985 and over the years City Strippers have paint stripped, prepared, and restored everything from antique prams, furniture, horse carriages, train carriages, planes, boats, ship galleys, cars, motorbikes. houses and buildings.One of our most notable jobs was Parliament Building in which we stripped all windows, doors wall panels etc.
            </p>
            <p>
              When it comes to paint stripping and restoration City strippers want to share our knowledge with you.
              Our focus today is our fantastic Dip Stripping Service. 
              This process is great for removing paint, varnish, stains etc from solid doors, skirting, fire surrounds, furniture, windows, weatherboards and many other items including metals and plastic hardware for example.
            </p>
            <p>
              This stripping process is a very cost effective way to remove the paint etc and expose the expensive native timbers underneath.
            </p>
            <p>
              With the preparation work done for you, we can make the job easy for you to finish with detailed instructions which will guide you through the process on how to complete the work to obtain the desired finish. Or we can do the complete process for you.
            </p>
            <p>
              We can pick up and deliver or you can drop off your goods at Wairarapa Building Recyclers /rummages.co.nz 119C Lincoln Road, Masterton 06 370 3044 or Wellington 04 977 8007  City Strippers 04 566 9990.
              <!-- </p><a href="about.html">more detail</a> -->
            </p>
          </div>
          <div class="span4">
            <div class="row">
              <div class="span9">
                <ul class="thumbnails">
                  <li class="span3">
                    <div class="service-box">
                      <div class="caption">
                        <a href="/service"><h4>Our Service</h4></a>
                        <p>
                          City strippers have a fantastic dip-stripping process
                        </p>
                      </div>
                      <a href="/service"><img alt="" src="img/service-1.jpg" /></a>

                    </div>
                  </li>       
                  <li class="span3">
                    <div class="service-box">
                      <div class="caption">
                        <a href="/work"><h4>Our Work</h4></a>
                        <p>
                          Cum sociis natoque penatibus et magnis dis parturient montes
                        </p>
                      </div>
                      <a href="/work"><img alt="" src="img/service-2.jpg" /></a>

                    </div>
                  </li>       
                </ul>
              </div>
            </div>

          </div>
          <div class="span12">
            <hr/>
          </div>
        </div>
           <!--  <div class="row">
                <div class="span3">
                    <h3>About Us</h3>
                    <p>
                        Suspendisse semper, tortor et lobortis mattis, turpis lacus placerat tortor, quis convallis metus mi vitae quam.

                        Disse semper, tortor et lobortis mattis, turpis lacus placerat tortor, quis conval ante. more about us
                    </p>
                    <p>
                        Suspendisse semper, tortor et lobortis mattis, turpis lacus placerat tortor, quis convallis metus mi vitae quam.
                        &nbsp;<a href="about.html">more detail</a>
                    </p>
                </div>
                <div class="span9">
                    <div class="row">
                        <div class="span3">
                            <ul id="news-box"> 
                                <li class="first"> 
                                    <a href="blog.html">Vivamus imperdiet, massa sed...</a> <br> 
                                    <span>April 20th, 2011</span> 
                                </li> 
                                <li> 
                                    <a href="blog.html">Vestibulum varius neque ultrices eget lobortis ligula venenatis nec</a> <br>
                                    <span>March 10th, 2011</span> 
                                </li> 
                                <li> <a href="blog.html">Quisque sed eros orci</a> <br> 
                                    <span>February 5th, 2011</span> 
                                </li> 
                                <li > 
                                    <a href="blog.html">Vivamus imperdiet, massa sed...</a> <br> 
                                    <span>April 20th, 2011</span> 
                                </li> 
                                <li> 
                                    <a href="blog.html">Vestibulum varius neque ultrices eget lobortis ligula venenatis nec</a> <br>
                                    <span>March 10th, 2011</span> 
                                </li> 

                                <li class="last"> 
                                    <a href="blog.html">more news</a> 
                                </li> 
                            </ul>
                        </div>
                        <div class="span6">

                            <div class="row">
                                <div class="span6">
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
                                        <small>Someone famous</small>

                                    </blockquote>



                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
                                        <small>Someone famous</small>
                                    </blockquote>
                                    <br/>
                                    <a href="testimonials.html">more testimonials</a>
                                    <hr/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span6">
                                    <h3>Partners</h3><br/>
                                    <ul class="thumbnails">
                                        <li class="span2">
                                            <div class="service-box">
                                                <a href="service_detail.html"><img alt="" src="http://placehold.it/200x120" /></a>

                                            </div>
                                        </li>
                                        <li class="span2">
                                            <div class="service-box">
                                                <a href="service_detail.html"><img alt="" src="http://placehold.it/200x120" /></a>

                                            </div>
                                        </li>
                                        <li class="span2">
                                            <div class="service-box">
                                                <a href="service_detail.html"><img alt="" src="http://placehold.it/200x120" /></a>

                                            </div>
                                        </li>        

                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

              </div> -->




