---
layout: default
---

<div class="row">
  <div class="span12 page-title-container">
  <img src="/img/wood_images/headers.jpg" style="height: 220px" />
    <div class="inner-page-title fixed">
      <h2>Our Service</h2>
      <p>City Stripa have a fantastic dip-stripping process.</p>
    </div>
  </div>
</div>
<div>
<br>
<h2>Dip n Strip service.</h2>
<h3>Stage one. </h3>
<p>
Using a chemically hot ingredient that is kept at a ambient temperature at about 65 degrees, similar to the products that you would buy in any paint-stripper you buy from the local home improvement store except ours is made by our own chemist and is in a concentrated form. This process will remove, polyurethane, varnish, latex and ( lead-based ) enamel paints.
</p>
<h3>Stage two.</h3>
<p>
The second step uses a chemically cold treatment that is not available to the do-it-your-selfer,  heated to 100-130 deg Fahrenheit. This process is designed to remove primers, stains and most paints.
</p>
<h3>Stage three.</h3>
<p>
The third step also uses a chemically cold ingredient heated to 100-130 deg Fahrenheit. This process is designed as a neutralizer, terminating the chemical process and also acts as a colour- control, to the final finish. 
</p>
<p>
Please note, It is important for us to have as much information about the job at hand and what you are doing so that we are able to have a better understanding on what type of finish you are expecting back from us. 
</p>
</div>
